h1 {
font-size:100px;
    color:  rgb(255, 0, 0);
  
}
h2 {
    color: rgb(255, 0, 0);
    font-size: 16px;
    text-align: center; 
    width:600px; 
  font-family: 'Trebuchet MS', sans-serif;
}
p {
    color:  rgb(255, 0, 0);
    font-size: 12pt;
    font-family: Arial, sans-serif; 
    text-align: center; 
    width:600px; 
}
