h1 {
    color: blue;
    font-size: 18pt; 
    text-align: center;
}
h2 {
    color: red;
    font-size: 16pt; 
    text-align: center;
}
p {
    color: #253f2c;
    font-size: 12pt;
    font-family: Arial, sans-serif; 
    text-align: center;
}
